.login-container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.login-left {
  flex: 1;
  background: linear-gradient(135deg, #3b82f6, #6366f1);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.login-left h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.login-left p {
  font-size: 16px;
  opacity: 0.9;
}

/* RIGHT SIDE */
.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8fafc;
}

/* CARD */
.login-card {
  width: 380px;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

/* FORM */
.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.register-text {
  margin-top: 10px;
  font-size: 14px;
}
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-left {
    height: 30%;
  }

  .login-right {
    height: 70%;
  }
}