<div class="page-container">

  <!-- Header -->
  <div class="page-header">
    <h2>Fees Management</h2>
  </div>

  <!-- Form Card -->
  <div class="card form-card">

    <div class="form-grid">

      <!-- Student -->
      <mat-form-field appearance="outline">
        <mat-label>Student</mat-label>
        <mat-select [(ngModel)]="fee.studentId" (selectionChange)="getFees()">
          <mat-option [value]="0">Select Student</mat-option>
          <mat-option *ngFor="let s of students" [value]="s.id">
            {{s.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Amount -->
      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput type="number" [(ngModel)]="fee.amount">
      </mat-form-field>

      <!-- Status -->
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="fee.status">
          <mat-option value="Paid">Paid</mat-option>
          <mat-option value="Pending">Pending</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Date -->
      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput type="date" [(ngModel)]="fee.date">
      </mat-form-field>

    </div>

    <!-- Button -->
    <div class="form-actions">
      <button mat-raised-button color="primary" (click)="addFee()">
        Add Fee
      </button>
    </div>

  </div>

  <!-- Table -->
  <div class="card">

    <h3>All Students Fee Summary</h3>

    <table mat-table [dataSource]="students"> class="mat-elevation-z2">

      <!-- Name -->
      <ng-container matColumnDef="studentName">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let f">{{ f.name }}</td>
      </ng-container>

      <!-- Class -->
      <ng-container matColumnDef="class">
        <th mat-header-cell *matHeaderCellDef>Class</th>
        <td mat-cell *matCellDef="let f">{{ f.class }}</td>
      </ng-container>

      <!-- Total -->
      <ng-container matColumnDef="totalFees">
        <th mat-header-cell *matHeaderCellDef>Total Fees</th>
        <td mat-cell *matCellDef="let f">₹ {{ f.fees}}</td>
      </ng-container>

      <!-- Pending -->
      <ng-container matColumnDef="pendingFees">
        <th mat-header-cell *matHeaderCellDef>Pending</th>
        <td mat-cell *matCellDef="let f" class="pending">
          ₹ {{ f.pendingFees }}
        </td>
      </ng-container>

      <!-- Rows -->
      <tr mat-header-row *matHeaderRowDef="['studentName','class','totalFees','pendingFees']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['studentName','class','totalFees','pendingFees'];"></tr>

    </table>

  </div>

</div>